/* Css para el Formulario */
.form-container {
    max-width: 500px;
    margin: auto;
    background: #e8ecec;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #141c24;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #1c2630;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #bdc3c7;
    border-radius: 6px;
  }
  
  button[type="submit"] {
    background-color: #48a0db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: #1f6391;
  }
  
/* Css para el CRUD*/
  .table-container {
    margin-top: 30px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
  }
  
  th {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  th , td{
    background-color: #f0f0f0;
  }

  .buscar-container {
    display: flex;          /* Alinea los elementos en una fila */
    align-items: center;    /* Alinea verticalmente en el centro */
    gap: 10px;              /* Espacio entre el input y el botón */
  }
 
  button {
    margin: 2px;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #2e74f5;
    color: white;
    display: flex;
    align-items: center;
    font-size: 13px;  /* Tamaño de la letra */
  }
  
  button i {
    margin-right: 5px;
  }
  
  button:hover {
    background-color: #0249b4;
  }
  